@import url('http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

@media (max-width: 1100px){

  .reservation{
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }

  hr.thmHrLeft, hr.thmHrRight{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 150, 0, 0.75), rgba(0, 0, 0, 0)) !important;
  }

}


@media (max-width: 1060px){

  body{
    background-size: cover !important;
  }

}

@media (max-width: 767px){

  body{
    background-size: cover !important;
  }

  .about h1, .contact h1{
    text-align: center !important;
  }

}

body{
  height: auto;
  font: 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

/*===================================================
|                      ADMIN                         |
===================================================*/

.admin-login{
  background-color: #fff;
}


/*===================================================
|                      GENERAL                      |
===================================================*/

.thmBtn-light{
  border-radius: 0px;
  box-shadow: #444 2px 2px 5px;
}

.thmBtn-dark{

}

.thmSpan{
  background-color: #F3A530;
  color: #fff;
  padding: 3px 8px 3px 8px;
}

.t-red{
  color: red !important;
}

.t-white{
  color: #fff !important;
}

.thmBg{
  background-color: #F3A530 !important;
}

.thmBorder{
  border-color: #F3A530;
}

hr.thmHrLeft {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(250, 150, 100, 1), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.thmHrRight {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(250, 150, 100, 1));
}

.card-light-shade{
  box-shadow: #555 2px 2px 5px;
}

.card-dark{
  background-color: #333;
}

.card, .card-header, .card-body, .card-footer{
  border-radius: 0px;
}

.card-header:first-child {
  border-radius: 0px;
}

.mar-1{
  margin-top: 34px;
}

 /*===================================================
|                      HEADER                        |
===================================================*/

.area-header .navbar{
  background: rgba(16, 16, 16, 0.5);
}

.area-header .navbar .navbar-brand{
  color: #fff;
  text-shadow: #000 -2px 2px 3px;
  font-weight: 300;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 1px;
    transition:0.5s all ease;
}

.area-header .navbar .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover,
.area-header .navbar .navbar-brand:focus, .navbar-light .navbar-nav .nav-link:focus{
  color: #F3A530;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #F3A530 !important;
  height: 3px !important;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/*====================================================
|                       FOOTER                       |
===================================================*/

.area-footer{
  position: fixed;
  z-index: 999;
  bottom:0;
  width: 100%;
  height: auto;
}

.area-footer .footer-content{
  padding: 10px;
  background: rgba(13 , 13, 13, 0.6);
  color: #fff;
}


/*====================================================
|                     HOMEPAGE                       |
===================================================*/

.reservation{
  padding: 10px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 530px;
  left: 280px;
  box-shadow: #666 0px -2px 5px;
}

.about{
  margin-top: 200px;
  padding: 20px;
  background-color: #f1f1f1;
  min-height: 300px;
}

.contact{
  padding: 20px;
  background-color: #fff;
  min-height: 300px;
}
